.wrapper {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    display: flex;
    width: 45%;
    padding: 40px 50px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(144, 163, 247);
}

.form {
    display: flex;
    flex-direction: column;
    flex: auto;
    width: 70%;
}

.form label {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}

.form input {
    margin-bottom: 40px;
    width: inherit;
    border-radius: 10px;
    height: 35px;
    font-size: 18px;
    padding: 5px 5px;
}

.button {
    border-radius: 10px;
    background-color: rgb(132, 117, 228);
    color: #ffff;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0px;
    width: inherit;
    border: 3px solid black;
}