.wrapper {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    display: flex;
    flex-direction: column;
    background-color: rgb(144, 163, 247);
    color: #ffff;
    width: 100%;
    padding: 15px 30px;
    border-radius: 10px;
    border: 3px solid black;
}